// http://paletton.com/#uid=12U0z0kllllaFw0g0qFqFg0w0aF
$color-green-extra-light: #7FBF90;
$color-green-light: #4F9F64;
$color-green-base: #2A7F40;
$color-green-dark: #105F25;
$color-green-extra-dark: #003F11;

// http://paletton.com/#uid=13r0z0kleqtbzEKgVuIpcmGtdhZ
$color-blue-extra-light: #7CAABD;
$color-blue-light: #4C839A;
$color-blue-base: #316B85;
$color-blue-dark: #1C5872;
$color-blue-extra-dark: #0C435A;

// http://paletton.com/#uid=11V0z0kllllaFw0g0qFqFg0w0aF
$color-yellow-extra-light: #FCFEA9;
$color-yellow-light: #D1D36A;
$color-yellow-base: #A6A938;
$color-yellow-dark: #7C7F15;
$color-yellow-extra-dark: #525500;

// http://paletton.com/#uid=10W0z0kllllaFw0g0qFqFg0w0aF
$color-brown-extra-light: #D4B06A;
$color-brown-light: #FFE2AA;
$color-brown-base: #AA8439;
$color-brown-dark: #805B15;
$color-brown-extra-dark: #553800;
