<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">&lt;?MP/></a>
    
        <ul class="right hide-on-med-and-down">
            {% include navigation.html %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
            {% include navigation.html %}
        </ul>
        
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>